In [1]:
#startswith() Without start and end Parameters
claim = "Pluto is a planet!"
print(claim.startswith('Pluto'))

True

In [2]:
#endswith() Without start and end Parameters
claim = "Pluto is a planet!"
print(claim.endswith('planet!'))

True

In [3]:
claim.split()

['Pluto', 'is', 'a', 'planet!']

In [8]:
' üëè '.join([claim.upper() for word in claim])

'PLUTO IS A PLANET! üëè PLUTO IS A PLANET! üëè PLUTO IS A PLANET! üëè PLUTO IS A PLANET! üëè PLUTO IS A PLANET! üëè PLUTO IS A PLANET! üëè PLUTO IS A PLANET! üëè PLUTO IS A PLANET! üëè PLUTO IS A PLANET! üëè PLUTO IS A PLANET! üëè PLUTO IS A PLANET! üëè PLUTO IS A PLANET! üëè PLUTO IS A PLANET! üëè PLUTO IS A PLANET! üëè PLUTO IS A PLANET! üëè PLUTO IS A PLANET! üëè PLUTO IS A PLANET! üëè PLUTO IS A PLANET!'

In [11]:
planet = 'Pluto'
position = 9
#If we want to throw in any non-string objects, we have to be careful to call str() on them first
planet + ", you'll always be the " + str(position) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

In [13]:
#So much cleaner! We call .format() on a "format string", where the Python values we want to insert are represented with {} placeholders.
#we didn't even have to call str() to convert position from an int. format() takes care of that for us.
#If that was all that format() did, it would still be incredibly useful. But as it turns out, it can do a lot more. Here's just a taste:
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

In [15]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [16]:
# Referring to format() arguments by index, starting from 0
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

In [3]:
numbers = {'one':1, 'two':2, 'three':3}
numbers

{'one': 1, 'three': 3, 'two': 2}

In [4]:
numbers['eleven'] = 11,11.2
numbers

{'eleven': (11, 11.2), 'one': 1, 'three': 3, 'two': 2}

In [6]:
numbers['tweleve']=12
numbers

{'eleven': (11, 11.2), 'one': 1, 'three': 3, 'tweleve': 12, 'two': 2}

In [7]:

numbers['one'] = 'Pluto'
numbers

{'eleven': (11, 11.2), 'one': 'Pluto', 'three': 3, 'tweleve': 12, 'two': 2}

In [8]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Earth': 'E',
 'Jupiter': 'J',
 'Mars': 'M',
 'Mercury': 'M',
 'Neptune': 'N',
 'Saturn': 'S',
 'Uranus': 'U',
 'Venus': 'V'}

In [10]:
numbers.keys()

dict_keys(['one', 'two', 'three', 'eleven', 'tweleve'])

In [11]:
numbers.values()

dict_values(['Pluto', 2, 3, (11, 11.2), 12])

In [12]:
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = Pluto
two = 2
three = 3
eleven = (11, 11.2)
tweleve = 12

In [13]:
for k in numbers:
  print(k)

one
two
three
eleven
tweleve

In [14]:
# Get all the initials, sort them alphabetically, and put them in a space-separated string.
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [16]:
#The very useful dict.items() method lets us iterate over the keys and values of a dictionary simultaneously. (In Python jargon, an item refers to a key, value pair)

for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"